* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color:lightsalmon;
  padding: 10px 10px;
  
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 15px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  margin-top:70px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
   
  }
img{
    height:60px;
width:80px;
}
h2{
    text-align: center;
    color:red;
    margin-right:100px;
}
}


 img{
float:left;
height:180px;
width:300px;
transition: transform .2s;

  }
  h2{
      text-align: center;
      color:red;
      margin-right:200px;
  }
  .middle{
    position: relative;
    top: 20px;
}

.menu {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
}

.item {
    border-top: 1px solid #18dcff;
    overflow: hidden;
    width:350%
}
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }

.btn {
    display: block;
    padding: 16px 20px;
    background: #17c0eb;
    color: white;
    position: relative;
   
}

.btn::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #17c0eb;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}

.btn i {
    margin-right: 10px;
}

.smenu {
    background: #333;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.smenu a {
    display: block;
    padding: 16px 26px;
    color: white;
    
    position: relative;
}

.smenu a::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #18dcff;
    left: 0;
    top: 0;
    transition: .3s;
    opacity: 0;
}

.smenu a:hover::before {
    opacity: 1;
}

.item:target .smenu {
    max-height: 10em;
}

.noodle{
    width:20%;
}
.img1{
    opacity: 1;
  display: block;
    width: 10%;
    height: auto;
    margin-right:5px;
    margin-left:10px;
    transition: .5s ease;
  backface-visibility: hidden;
}

.img2{
    width:5%;
    height:6%;
    margin:10px;
    transition: transform .2s;
}
img:hover .img:focus {
    transform: scale(1); 
  }
.backbtn{
    background-color: rgb(93, 93, 180);
    color:white;
    border:none;
    padding:10px;
    border-radius: 2px;
    margin-left:35px;
}
p{
    color:black;
    font-size: 25px;
    margin-left:35px;
    margin-right:25px;
    
}